  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}
body {
    overflow-x: hidden;
    background: rgb(240, 235, 235);
}

body::-webkit-scrollbar {
    width: 8px;
    position: absolute;
    top: 0;
    right: 0;
    background: #ffffff9f;
 }
 
body::-webkit-scrollbar-track {
    background: transparent;
}
 
body::-webkit-scrollbar-thumb {
    background: rgb(78, 78, 78);
    border-radius: 10px;
 }
 
body::-webkit-scrollbar-thumb:hover {
    background: rgb(48, 48, 48);
    cursor: pointer;
 }
